# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Source Engine Files
*.sav
*.hl1
*.hl2
*.hl3
config.cfg
maps/soundcache/*
*.cache
*.pdb