# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Source Engine Files
*.sav
*.hl1
*.hl2
*.hl3
config.cfg
maps/soundcache/*
DownloadLists/*
shadereditorui/shader_src/*.fxc
shadereditorui/shader_src/shaders/*
shaders/fxc/0*.vcs
*.cache
*.pdb